<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lng %><br />
    <%= f.text_field :lng %>
  </div>
  <div class="field">
    <%= f.label :opa %><br />
    <%= f.text_field :opa %>
  </div>
  <div class="field">
    <%= f.label :mkt_val_2014 %><br />
    <%= f.text_field :mkt_val_2014 %>
  </div>
  <div class="field">
    <%= f.label :flickr_image %><br />
    <%= f.text_field :flickr_image %>
  </div>
  <div class="field">
    <%= f.label :flickr_image_url %><br />
    <%= f.text_field :flickr_image_url %>
  </div>
  <div class="field">
    <%= f.label :street_view %><br />
    <%= f.text_field :street_view %>
  </div>
  <div class="field">
    <%= f.label :context %><br />
    <%= f.text_area :context %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
