<section class="row">
  <div class="six columns">
    <h1 class="headline">School Watch</h1>
    <p>
      On March 7th, the School Reform commission voted to close 23 Philadelphia Public Schools. What will happen next to these buildings?
    </p>
    <p>
      This project tracks news stories and community events for each of the closing schools, as well as provides a community forum for resue ideas.
    </p>
    <p>
      Have ideas on how we could improve this tool? Send them to <a href="mailto:editor@axisphilly.org">editor@axisphilly.org</a>.
    </p>

    <div id="news">
      <h5>Recent News</h5>
        <% @news.each do |story| %>
          <li>
            <%= story['source'] %>: <a href="<%= story['url'] %>" target="_blank"><%= story['headline'] %></a>
            <% if story['school'] != '' %>
              <span class="radius label"><a href="schools/<%= story['school'] %>"><%= story['school'].titleize %></a></span>
            <% end %>
          </li>
        <% end %>
    </div>

    <div id="resources">
      <h5>Resources</h5>
      <ul>
        <% @resources.each do |story| %>
          <li><% if story['source'] != '' %> <%= story['source'] %>: <% end %> <a href="<%= story['url'] %>" target="_blank"><%= story['headline'] %></a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="six columns">
    <dl class="tabs">
      <dd class="active"><a href="#map">Map</a></dd>
      <dd><a href="#list">List</a></dd>
    </dl>
    <ul class="tabs-content">
      <li class="active" id="mapTab">
        <div id="map-div"></div>
      </li>
      <li id="listTab">
        <table class="twelve">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
            </tr>
          </thead>

          <% @schools.each do |school| %>
            <tr>
              <td><%= link_to school.name.titleize, '/schools/' + school.slug %></td>
              <td><%= school.address.titleize %></td>
            </tr>
          <% end %>

        </table>
      </li>
    </ul>

    <div id="data-sources">
      <h6>Data Sources</h6>
      <p>School location and demographic information is available as part of the School District's <a href="http://webgui.phila.k12.pa.us/offices/a/accountability/open-data-initiative">Open Data Initiative</a>. The listing of schools to be closed can be found on the School District's <a href="http://webgui.phila.k12.pa.us/offices/f/facilities-master-plan">Facilities Master Plan</a>.
    </div>
  </div>
</section>
<script type="text/javascript">
  app.map.run();
</script>