<div class="six columns">
  <h1 class="headline"><%= @title %></h1>

  <div class="byline"><span class="byline-author">by <a href="http://axisphilly.org/author/solomon/" title="Posts by Solomon Jones" rel="author">Solomon Jones</a>, <span class="byline-author"><a href="http://axisphilly.org/author/casey/" title="Posts by Casey Thomas" rel="author">Casey Thomas</a> and <a href="http://axisphilly.org/author/pam/" title="Posts by Pam Selle" rel="author">Pam Selle</a></span> <span class="byline-date">Mar. 27th, 2013</span></div>

  <p>Twenty-three Philadelphia Schools will close at the end of the 2013 school year, saddling already struggling neighborhoods with more empty properties. What will ultimately happen to the school buildings?</p> 
  <p>This project seeks your input to help answer that question. With news stories, community events and statistics on each closing school, AxisPhilly provides a community forum where you can share your ideas on how each building can be reused.</p>

  <div id="axis-news">
    <h6>News from AxisPhilly</h6>
      <ul>
      <% @axp_news.entries.each do |story| %>
        <li>
          <a href="<%= story.url %>" target="_blank"><%= story.title %></a>
          <em class="source"><%= story.published.strftime('%b. %e, %Y') %></em>
        </li>
      <% end %>
      </ul>
  </div>

  <div id="other-news">
    <h6>News from other organizations</h6>
      <ul>
      <% @other_news.entries.each do |story| %>
        <li>
          <a href="<%= story.source_url %>" target="_blank"><%= story.title %></a>
          <em class="source"><%= story.source %>, <%= story.published.strftime('%b. %e, %Y') %></em>
        </li>
      <% end %>
      </ul>
  </div>

  <div id="resources">
    <h6>Resources</h6>
    <ul>
      <% @resources.each do |story| %>
        <li>
          <a href="<%= story['url'] %>" target="_blank"><%= story['headline'] %></a>
          <em class="source"><% if story['source'] != '' %><%= story['source'] %>, <% end %> <%= story['date'] %></em>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="six columns">
  <dl class="tabs">
    <dd class="active"><a href="#list">List</a></dd>
    <dd><a href="#map">Map</a></dd>
  </dl>
  <ul class="tabs-content">
    <li id="mapTab">
      <div id="map-div"></div>
    </li>
    <li class="active" id="listTab">
      <table class="twelve">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
          </tr>
        </thead>

        <% @schools.each do |school| %>
          <tr>
            <td><%= link_to school.name.titleize, '/schools/' + school.slug %></td>
            <td><%= school.address.titleize %></td>
          </tr>
        <% end %>

      </table>
    </li>
  </ul>

  <div id="data-sources">
    <h6>Data Sources</h6>
    <p>Data was collected from the School District's <a href="http://webgui.phila.k12.pa.us/offices/a/accountability/open-data-initiative" target="_blank">Open Data Initiative</a> and <a href="http://webgui.phila.k12.pa.us/offices/f/facilities-master-plan" target="_blank">Facilities Master Plan</a>.
  </div>
</div>
<script type="text/javascript">
app.map.run();
</script>