<section class="row">
  <ul class="breadcrumbs">
    <li><a href="/">School Watch</a></li>
    <li class="current"><a href="#"><%= @school.name.titleize %></a></li>
  </ul>
</section>

<section class="row">
  <div class="five columns">
    <%= @school.street_view.html_safe %>
    <h5><%= @school.name %></h5>
    <ul>
      <li>
        <%= @school.address %>
      </li>
        <% if @school.url? %>
          <li>
            <%= link_to 'Website', @school.url %>
          </li>
        <% end %>
      <li>
        <%= @school.level.titleize %>
      </li>
      <li>
        OPA Account:
        <%= @school.opa %>
      </li>
      <li>
        <% if @school.mkt_val_2014 != -1 %>
          2014 Market Value: <%= number_to_currency(@school.mkt_val_2014, :precision => 0) %>
        <% end %>
      </li>
    </ul>
    
    <div id="news">
      
    </div>
  </div>

  <div class="seven columns">
    <div id="comments">
      <h5>Have ideas for reuse? Comment below</h5>
      <div id="disqus_thread"></div>
    </div>
  </div>
</section>

<script type="text/javascript">
  // Disqus stuff
  /* * * CONFIGURATION VARIABLES: THIS CODE IS ONLY AN EXAMPLE * * */
  var disqus_shortname = 'axisphilly'; // Required - Replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>