<section class="row">
  <div class="twelve columns">
    <ul>
      <li><a href="/">&larr; Schoolhouse Watch</a></li>
    </ul>
  </div>  
</section>

<section class="row">
  <div class="six columns main">
    <h3><%= @school.name.titleize %></h3>
    <table class="property-values">
      <tr>
        <td>
          <strong>Address</strong>
        </td>
        <td>
          <%= @school.address %>
        </td>
      </tr>
      <% if @school.url? %>
        <tr>
          <td>
            <strong>Online</strong>
          </td>
          <td>
            <%= link_to 'Website', @school.url %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>
          <strong>Grade</strong>
        </td>
        <td>
          <%= @school.level.titleize %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>OPA Account</strong>
        </td>
        <td>
          <%= @school.opa %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>2014 Market Value</strong>
        </td>
        <td>
          <% if @school.mkt_val_2014 != -1 %>
            <%= number_to_currency(@school.mkt_val_2014, :precision => 0) %>
          <% else %>
            This property has not yet been reassessed under AVI.
          <% end %>
        </td>
      </tr>
    </table>
    
    <hr>

    <h6>Latest Updates</h6>
    <%= render 'news', :news => @news, :title => 'Latest Updates', :block_id => 'latest-updates' %>
  </div>

  <div class="six columns sidebar">
    <% if @school.flickr_image_url.present? && @school.flickr_image.present?%>
      <%= link_to image_tag(@school.flickr_image_url, :width => 350), @school.flickr_image %>
    <% else %>
      <%= @school.street_view.html_safe %>
    <% end %>
    <div id="comments">
      <div class="pre-discussion">
        <span class="area-header">Discussion</span>
        <h6 class="mtn"><%= t_meta(:comment_prompt) %></h6>
      </div>
      <div id="disqus_thread"></div>
    </div>
  </div>
</section>

<script type="text/javascript">
  // Disqus stuff
  var disqus_shortname = 'axisphilly';
  var disqus_title = '<%= @title %>';
  var disqus_url = '<%= request.url %>';
  var disqus_identifier = 'axisphilly-<%= @school.name.gsub(" ", "").downcase %>';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>