<section class="row">
  <ul class="breadcrumbs">
    <li><a href="/">School Watch</a></li>
    <li class="current"><a href="#"><%= @school.name.titleize %></a></li>
  </ul>
</section>

<section class="row">
  <div class="three columns">
    <img src="http://placehold.it/350x300"/>
    <h5><%= @school.name %></h5>
    <ul>
      <li>
        <%= @school.address %>
      </li>
        <% if @school.url? %>
          <li>
            <%= link_to 'School Website', @school.url %>
          </li>
        <% end %>
      <li>
        <%= @school.level.titleize %>
      </li>
      <li>
        OPA Account:
        <%= @school.opa %>
      </li>
      <li>
        <% if @school.mkt_val_2014 != -1 %>
          2014 Market Value: <%= number_to_currency(@school.mkt_val_2014, :precision => 0) %>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="nine columns">
    <div id="news">
      <h5>Recent News</h5>
      <ul>
        <% if @news.length != 0 %>
          <% @news.each do |story| %>
            <li><%= story['source'] %>: <a href="<%= story['url'] %>" target="_blank"><%= story['headline'] %></a></li>
          <% end %>
        <% else %>
          We haven't found any stories about <%= @school.name.titleize %>. Have you seen any? Submit them to <a href="mailto:editor@axisphilly.org">editor@axisphilly.org</a>, or mention them in the comments below.
        <% end %>
      </ul>
    </div>

    <div id="comments">
      <h5>Have ideas for reuse? Comment below</h5>
      <div id="disqus_thread"></div>
    </div>
  </div>
</section>

<script type="text/javascript">
  // Disqus stuff
  /* * * CONFIGURATION VARIABLES: THIS CODE IS ONLY AN EXAMPLE * * */
  var disqus_shortname = 'axisphilly'; // Required - Replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>