<section class="row">
  <div class="three columns">
    <img src="http://placehold.it/350x300"/>
    <h5><%= @school.name %></h5>
    <ul>
      <li>
        <%= @school.address %>
      </li>
      <li>
        <% if @school.url? %>
          <%= @school.url %>
        <% end %>
      </li>
      <li>
        <%= @school.level.titleize %>
      </li>
      <li>
        OPA Account:
        <%= @school.opa %>
      </li>
      <li>
        <% if @school.mkt_val_2014 != -1 %>
          2014 Market Value: <%= number_to_currency(@school.mkt_val_2014, :precision => 0) %>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="nine columns">
    <h5>Recent New</h5>
    <ul>
      <li>NewsWorks: <a href="http://www.newsworks.org/index.php/the-feed/item/52119-what-should-become-of-the-germantown-high-school-property" target="_blank">What should become of the Germantown High School property?</a>, 3/11/2013</li>
        <li>AxisPhilly: <a href="http://axisphilly.org/article/city-officials-look-toward-next-uses-for-shuttered-school-buildings/" target="_blank">City officials look toward next uses for shuttered school buildings</a>, 3/13/2013</li>
        <li>NewsWorks: <a href="http://www.newsworks.org/index.php/the-feed/item/52119-what-should-become-of-the-germantown-high-school-property" target="_blank">What should become of the Germantown High School property?</a>, 3/11/2013</li>
        <li>AxisPhilly: <a href="http://axisphilly.org/article/city-officials-look-toward-next-uses-for-shuttered-school-buildings/" target="_blank">City officials look toward next uses for shuttered school buildings</a>, 3/13/2013</li>
        <li>NewsWorks: <a href="http://www.newsworks.org/index.php/the-feed/item/52119-what-should-become-of-the-germantown-high-school-property" target="_blank">What should become of the Germantown High School property?</a>, 3/11/2013</li>
        <li>AxisPhilly: <a href="http://axisphilly.org/article/city-officials-look-toward-next-uses-for-shuttered-school-buildings/" target="_blank">City officials look toward next uses for shuttered school buildings</a>, 3/13/2013</li>
    </ul>
  </div>
</section>