<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @school.code %>
</p>

<p>
  <b>Name:</b>
  <%= @school.name %>
</p>

<p>
  <b>Address:</b>
  <%= @school.address %>
</p>

<p>
  <b>Url:</b>
  <%= @school.url %>
</p>

<p>
  <b>Level:</b>
  <%= @school.level %>
</p>

<p>
  <b>Lat:</b>
  <%= @school.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @school.lng %>
</p>

<p>
  <b>Opa:</b>
  <%= @school.opa %>
</p>

<p>
  <b>Mkt val 2014:</b>
  <%= @school.mkt_val_2014 %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
