<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:site_name" content="<%=t_meta(:title)%>">
    <meta property="og:url" content="<%= request.url %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%=@title%>">
    <meta property="og:description" content="<%=t_meta(:description)%>">
    <meta property="og:image" content="<%=t_meta(:image_path)%>">
    <link rel="icon" href="http://axisphilly.org/news/wp-content/themes/ally/images/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="http://axisphilly.org/news/wp-content/themes/ally/images/favicon.png" type="image/x-icon" />
    <script type="text/javascript" src="//use.typekit.net/nuc2aoh.js"></script>
    <script src="http://axisphilly.org/news/wp-content/themes/ally/javascripts/modernizr.foundation.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
    <script src="http://axisphilly.org/news/wp-content/themes/ally/javascripts/libraries.1.0.5.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" media="all" href="http://axisphilly.org/news/wp-content/themes/ally/style.css" />
    <title><%= @title %> | AxisPhilly</title>
    <%= stylesheet_link_tag  "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if IE 8]>
      <%= stylesheet_link_tag 'ie', :media => 'screen' %>
    <![endif]-->
  </head>
  <body>
    <!-- Fixed header -->
    <header class="header">
          <nav class="top-bar">
            <ul class="title-area">
              <li class="name">
                <h1><a href="<%= root_path %>">Schoolhouse Watch <br/><em>a project of AxisPhilly</em></a></h1>
              <li class="toggle-topbar has-button">
                <span class="tiny secondary button menu-button">
                  <span class="line"></span>
                  <span class="line"></span>
                  <span class="line"></span>
                </span>
              </li>
            </ul>
            <section class="top-bar-section">
              <ul class="left">
                <li class="active" ><a href="http://www.axisphilly.org/tools">Tools &amp; Data</a></li>
                <li class="search">
                <li class="social"><a href="http://www.twitter.com/AxisPhilly"><i class="social-foundicon-twitter"></i></a></li>
                <li class="social"><a href="http://www.facebook.com/AxisPhilly"><i class="social-foundicon-facebook"></i></a></li>
                <li class="social"><a href="http://www.axisphilly.org/?feed=rss"><i class="social-foundicon-rss"></i></a></li>
                <% if user_signed_in? %>
                  <li><%= link_to "Logout", destroy_user_session_path %></li>
                <% end %>
              </ul>
              <ul class="right">
                <li class="search">
                  <form class="collapse" role="search" method="get" id="searchform" action="http://axisphilly.org">
                    <input type="search" placeholder="Search AxisPhilly articles" name="s" id="s">
                  </form>
                </li>
              </ul>
            </section>
          </nav>

    </header>
    <section class="row">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </section>

    <%= yield %>

    <footer>
      <div class="row colors">
        <div class="three columns mobile-one yellow"> </div>
        <div class="three columns mobile-one light-blue"> </div>
        <div class="three columns mobile-one red"> </div>
        <div class="three columns mobile-one dark-blue"> </div>
      </div>
      <div class="row about">
        <div class="three columns">
          <img class="logo" alt="AxisPhilly" src="http://axisphilly.org/news/wp-content/themes/ally/images/logo-no-tagline-white.png"/>
          <p class="copyright">© 2013</p>
        </div>
        <div class="three columns">
          <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/about/contact-us">Contact Us</a></li>
            <li><a href="/about/understanding-privacy">Privacy</a></li>
            <li><a href="/about/user-agreement/">User Agreement</a></li>
          </ul>
        </div>
        <div class="six columns">
          <section id="mc_embed_signup">
            <div class="twelve columns">
              <!-- Begin MailChimp Signup Form -->
                <form action="http://neilbudde.us4.list-manage.com/subscribe/post?u=f2095380fddf560272aa750da&amp;id=fd22697bf6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                  <label for="mce-EMAIL" id="email-signup-label">Sign up for email updates:</label>
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="">
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </form>

              <!--End mc_embed_signup-->
            </div>
          </section>
        </div>
      </div>
    </footer>
    <script src="http://axisphilly.org/news/wp-content/themes/ally/javascripts/foundation.min.js" type="text/javascript"></script>
    <script src="http://axisphilly.org/news/wp-content/themes/ally/javascripts/site.1.0.5.min.js" type="text/javascript"></script>
  </body>
</html>